<%- include('partials/header'); -%>


<form action="/compose" method="post">
    <h1>Compose</h1>
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" name="post" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Post</label>
      <textarea class="form-control" name="postBody" rows="3"></textarea>
    </div>
    <div>
        <button class="btn-primary btn-small " style="border-radius:4px">Publish</button>
    </div>
  </form>
<%- include('partials/footer'); -%>